:root {
	--primary: #2512d9;
	--secondary: #58ffb1;
	--dark: #575464;
}

* {
	padding: 0;
	margin: 0 auto;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}
body {
	padding: 0;
}
img {
	display: block;
}

ul {
	padding: 0;
	margin: 0;
}
li {
	list-style-type: none;
}
a {
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
}
a:hover {
	color: white;
	text-decoration: none;
	animation: linkhover 0.5s forwards;
}
a:visited,
a:active,
a:focus {
	text-decoration: none;
}
a:focus,
a::selection {
	color: var(--secondary);
}
@keyframes linkhover {
	0% {
		text-shadow: 0px 0px 0px cyan, 0px 0px 0px red;
	}
	30% {
		text-shadow: 5px 0px 0px cyan, -5px 0px 0px red;
	}
	50% {
		text-shadow: 5px 0px 0px cyan, -5px 0px 0px red;
	}
	100% {
		text-shadow: 2px 0px 0px cyan, -2px 0px 0px red;
	}
}
@keyframes boxhover {
	0% {
		box-shadow: 0px 0px 0px cyan, 0px 0px 0px red;
	}
	30% {
		box-shadow: 5px 0px 0px cyan, -5px 0px 0px red;
	}
	50% {
		box-shadow: 5px 0px 0px cyan, -5px 0px 0px red;
	}
	100% {
		box-shadow: 2px 0px 0px cyan, -2px 0px 0px red;
	}
}
@keyframes subheaderPop {
	0% {
		top: 0;
	}
	80% {
		top: -60px;
	}
	100% {
		top: -49px;
	}
}

article {
	min-height: calc(100vh - 70px);
	position: relative;
	scroll-margin-top: calc(100px + 2em);
	padding: 20px 20px 70px 20px;
}
.sub-header {
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	font-weight: bold;
	font-size: 4em;
	animation: subheaderPop 0.5s forwards;
	animation-delay: 2s;
	z-index: -5;
}
#navbar {
	z-index: 99;
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#nav-img {
	margin-left: 20px;
	max-width: 50px;
}
.hamburger {
	position: relative;
	display: block;
	width: 35px;
	appearance: none;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	margin-right: 20px;
	align-self: center;
}
.bar,
.hamburger:after,
.hamburger:before {
	content: "";
	display: block;
	width: 100%;
	height: 5px;
	background: white;
	transition: 0.5s;
}
.bar {
	margin: 6px auto;
}
.hamburger.is-active:before {
	/* transform: rotate(-45deg) translate(0px, 12px); */
	margin: 0;
	transform: rotate(90deg) translate(20px, 0px) skewY(-41deg);
}
.hamburger.is-active:after {
	/* transform: rotate(45deg) translate(-3px, -16px); */
	margin: 0;
	z-index: 20;
	transform: rotate(90deg) translate(-20px, 0px) skewY(41deg);
}
.hamburger.is-active .bar {
	/* opacity: 0; */
	z-index: 50;
	margin: 0;
	height: 35px;
	width: 35px;
	background: none;
	border: 3px solid white;
}

#mobile-nav {
	z-index: 98;
	display: block;
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100vh;
	background-color: black;
	padding-top: 120px;
	transition: 0.5s;
}
#mobile-nav.is-active {
	left: 0;
}
#mobile-nav-links {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
}
#mobile-nav-links li {
	margin: 50px auto;
}

#nav-links {
	display: none;
}
#welcome-section {
	width: 100%;
	z-index: -5;
	position: relative;
	height: 100vh;
	margin-top: 0px;
	overflow: hidden;
	background: black;
	background-attachment: fixed;
	background-position: center;
}
#welcome-section header {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	color: white;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10;
	padding: 20px;
}
#title {
	z-index: 10;
	position: fixed;
	display: flex;
	align-items: center;
	top: 60%;
	left: 50%;
	min-height: 70px;
	transform: translate(-50%, -50%);
	width: 100%;
	font-size: 1.2em;
	padding: 10px 20px;
	animation: linkhover 0.5s forwards;
	background: black;
}
.typewrite {
	/* color: var(--secondary); */
}
.box {
	position: absolute;
	background: url("./Assets/GlitchBG.png");
	background-attachment: fixed;
}
.glitch-img {
	position: absolute;
	width: 100vw;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	background-image: url("./Assets/SpaceFrontierBG.png");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-position-x: 54%;
	/* filter: hue-rotate(-45deg); */
	/* filter: saturate(2); */
	/* filter: contrast(1); */
	opacity: 1;
	z-index: -10;
}

#about {
	background: white;
	position: relative;
}
#about-bg {
	position: absolute;
	margin: -20px;
	width: 100%;
	height: 100%;
	background-image: url("./Assets/KRlogo_NEW3X.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 100vh;
	background-attachment: fixed;
	filter: saturate(0);
	opacity: 0.07;
}
#about .sub-header {
	color: white;
}

#projects {
	z-index: 10;
	background: var(--primary);
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 10px 10px 60px 10px;
}
#projects .sub-header {
	color: var(--primary);
}
.project-tile {
	margin: 10px auto;
	background: white;
	width: 300px;
	height: 100%;
}
.project-img {
	border: 10px solid white;
}
.project-data {
	display: flex;
	flex-direction: column;
}

.project-title {
	color: var(--primary);
	text-transform: uppercase;
	margin: 0 auto;
}
.project-tech {
	background: var(--dark);
	color: var(--secondary);
	display: flex;
	font-size: 1.5em;
	padding: 10px;
}
.project-info {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.project-desc {
	flex: 3;
	color: var(--dark);
	align-self: center;
	line-height: 2em;
	padding: 10px;
}
.project-links {
	flex: 1;
	background: black;
	width: 100%;
	padding: 20px;
}

#contact {
	background: black;
	z-index: 11;
}
#contact .sub-header {
	color: black;
}
#contact-sect {
	color: var(--secondary);
	display: flex;
	flex-direction: column;
}

#footer {
	padding: 20px;
	background: var(--primary);
	color: white;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	align-content: center;
}
#copyright {
	margin: 10px auto 0px auto;
}
#social-links {
	display: flex;
	align-self: center;
}
#social-links {
	align-self: center;
}
#social-links li {
	margin: 0 20px;
}
#social-links li a {
	font-size: 2.5em;
}
@media only screen and (min-width: 480px) {
	.sub-header {
		left: 20px;
		transform: none;
	}

	#projects {
		flex-direction: row;
		flex-wrap: wrap;
		padding: 10px 10px 70px 10px;
	}
	.project-tile {
		width: 100%;
		margin: 10px auto;
	}

	#contact-sect {
		flex-direction: row;
	}
	#contact-info {
		flex: 1;
	}
	#contact-form {
		flex: 1;
	}
	#footer {
		flex-direction: row;
		justify-content: space-between;
		align-content: center;
	}
	#copyright {
		margin-left: 20px;
	}
}
@media only screen and (min-width: 720px) {
	.hamburger {
		display: none;
	}
	#nav-links {
		display: flex;
		margin-right: 0px;
	}
	#nav-links li {
		margin: 5px 20px;
	}

	.project-tile {
		width: calc(50% - 20px);
	}
}
